#pomodoro {
  display: flex;
  font-size: 10rem;
  justify-content: center;
}
#pomodoro .mins, #pomodoro .secs {
  color: grey;
  border: 3px dotted pink;
  background-color: black;
  padding: 1rem;
}

.controls {
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
}

.dots {
  display: flex;
  align-items: center;
  font-size: 5rem;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition: none;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}